@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/home.css" />

<main>
    <section class="section1">
        <div class="intro">
            <div class="content">
                <img class="img-fluid applelogo" src="~/Images/applelogo.png" alt="applelogoimg">
                <p class="text1">Macbook Air 2023</p>
                <p class="text2">Starting at Rs. 2986/- per month</p>
                <button class="button">Buy Now</button>
            </div>
            <div>
                <img class="img-fluid laptopgrp" src="~/Images/laptopgrp.png" alt="laptopgrp">
            </div>
        </div>
        <p class="text3">Stay on <span class="span1">Lap</span><span class="span">TOP</span> of your Game with the <span class="span">BEST</span> Laptops in Town</p>
    </section>
    <section>
        <div class="about">
            <p class="text4">Need Help in Choosing the <span class="span2">Right Laptop?</span></p>
            <div class="cards">
                <div class="card1">
                    <p class="title">Welcome to Digital Retailers</p>
                    <p class="description">Welcome to Digital Retailers Inc., your trusted destination for cutting-edge digital electronics, custom PC builds, and top-of-the-line laptops. Established with a passion for technology and a commitment to providing exceptional service, Digital Retailers Inc. has quickly become a leading online retailer in the digital electronics industry.</p>
                </div>
                <div class="card1">
                    <p class="title">Our Story</p>
                    <p class="description">At Digital Retailers Inc., we understand that the world of digital electronics is constantly evolving, and we're here to help you stay at the forefront of innovation. Our journey began with a vision to simplify the process of acquiring the latest and most powerful computing solutions, tailored to your unique needs.</p>
                </div>
            </div>
            <br />
            <div class="cards">
                <div class="card2">
                    <img class="img-fluid cardimg" src="~/Images/DiscountBasket.png" alt="DiscountBasketimg">
                    <p class="text">Seamless Shopping</p>
                </div>
                <div class="card2">
                    <img class="img-fluid cardimg" src="~/Images/LaptopGift.png" alt="LaptopGiftimg">
                    <p class="text">Premium Laptops</p>
                </div>
                <div class="card2">
                    <img class="img-fluid cardimg" src="~/Images/Artist.png" alt="Artistimg">
                    <p class="text">Expert Guidance</p>
                </div>
                <div class="card2">
                    <img class="img-fluid cardimg" src="~/Images/image.png" alt="image">
                    <p class="text">Quality Assurance</p>
                </div>
            </div>
            <br />
            <br />
            <br />
        </div>
    </section>
</main>